.card-list {
  &__card {
    &h2 {
      font-weight: bold;
    }

    &__description {
      padding: 5px 0 20px 0;
    }
  }

  &__content {
    padding: 15px;
    width: 350px;
    margin: 0 5px 20px 0;
    background-color: #fff;
    max-width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(31, 45, 61, 0.05);
    transition: box-shadow .3s ease, -webkit-transform .3s ease;
    transition: box-shadow .3s ease, transform .3s ease;
    transition: box-shadow .3s ease, transform .3s ease, -webkit-transform .3s ease;

    &:hover {
      box-shadow: 0 0 40px 0 rgba(31, 45, 61, 0.2);
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  }

  &__button {
    padding: 50px;
    text-align: center;
  }

}
